@page
@model             AdminIndexModel
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<h1 style="text-align:center;">Quản lý trang chủ PetShop</h1>
<img src="~/img/image3-1.png" style="max-width: 1200px; width: 100%; height: auto; display: block; margin: 0 auto;" />

