@page
@model PetShop.Models.AdminInvoice.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Invoice.CartId" class="control-label"></label>
                <select asp-for="Invoice.CartId" class ="form-control" asp-items="ViewBag.CartId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.UserId" class="control-label"></label>
                <select asp-for="Invoice.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.TotalAmount" class="control-label"></label>
                <input asp-for="Invoice.TotalAmount" class="form-control" />
                <span asp-validation-for="Invoice.TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.InvoiceDate" class="control-label"></label>
                <input asp-for="Invoice.InvoiceDate" class="form-control" />
                <span asp-validation-for="Invoice.InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Status" class="control-label"></label>
                <input asp-for="Invoice.Status" class="form-control" />
                <span asp-validation-for="Invoice.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

