
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/img/logopet.png" type="image/png" />
    <title>Cửa hàng thú cưng</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendors/linericon/style.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/themify-icons.css" />
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="~/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="~/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/css/style.css" />
   
    <link rel="stylesheet" href="~/css/responsive.css" />

</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="Index">
                        <img  style="
                             width:120px;" src="~/img/logo2.png" alt="Logo">
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset w-100"
                         id="navbarSupportedContent">
                        <div class="row w-100 mr-0">
                            <div class="col-lg-7 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item active">
                                        <a href="Index" class="nav-link">Trang chủ/Sản phẩm</a>
                                    </li>



                                    @if (Context.Request.Cookies["UserId"] != null)
                                    {
                                        <li class="nav-item">
                                            <a href="Logout" class="nav-link">Đăng xuất</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="Invoice" class="nav-link">Đơn hàng</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a href="Login" class="nav-link">Đăng nhập</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="Register" class="nav-link">Đăng ký</a>
                                        </li>
                                    }
                                 
                                </ul>
                            </div>

                            <div class="col-lg-5 pr-0">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                    

                                    <li class="nav-item">
                                        <a href="Cart" class="icons">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="icons">
                                            <i class="ti-user" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="icons">
                                            <i class="ti-heart" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
   
    @RenderBody()
    <footer style="margin-top:40px;background-color:black" class="footer-area section_gap">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Địa chỉ của chúng tôi</h4>
                    <ul>
                        <li><a href="#">215 Điện Biên Phủ, TP.HCM</a></li>
                        <li>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1446224285796!2d106.70500508472054!3d10.800233464575362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ba1cb685bd%3A0xb9f804a2ed48643a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBRdeG7kWMgdOG6vyBI4buTbmcgQsOgbmcgKEhJVSk!5e0!3m2!1svi!2s!4v1713636535853!5m2!1svi!2s" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li><a href="#">quocdatpetshop@gmail.com</a></li>
                        <li><a href="#">chamsockhachhang@gmail.com</a></li>
                        <li><a href="#">Hotline: 0919124124</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Giải đáp </h4>
                    <p>Nếu có bất kỳ câu hỏi hoặc thắc mắc về cửa hàng, hãy cung cấp email. Chúng tôi sẽ liên hệ bạn ngay!</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Email" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = ' Email  '" required="" type="email">
                            <button class="click-btn btn btn-default">Subscribe</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </footer>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/stellar.js"></script>
    <script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope/isotope-min.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendors/counter-up/jquery.counterup.js"></script>
    <script src="~/js/theme.js"></script>
</body>
</html>
