
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="side-nav ">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item ">
                <a class="dropdown-toggle"  >
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title ">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
               
            </li>
            
           
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title" <a href="AdminIndex">Quản lý hệ thống </a></span> 
                    <p class="arrow" style="top:12px">
                        <i class="arrow-icon"></i>
                    </p>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/AdminProduct/Index">Quản lý sản phẩm</a>
                    </li>
                    <li>
                        <a href="/AdminUser/Index">Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a href="/AdminCategory/Index">Quản lý danh mục</a>
                    </li>
                    <li>
                        <a href="/AdminInvoice/Index">Quản lý hóa đơn</a>
                    </li>
                    <li>
                        <a href="/AdminInvoice/RevenueReport">Báo cáo doanh thu</a>
                    </li>
                </ul>
            </li>
            <li><a href="/Logout" class="nav-link">Đăng xuất</a></li>
         
        </ul>
    </div>
</div>